.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #bf3cf3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}
