.builder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.builder p {
  text-align: center;
  text-wrap: wrap;
}

.builder img {
  width: 5rem;
}

.builder > div {
  color: #8e24aa;
  margin: 0 12px;
}
