.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  width: 12rem;
}

.search-bar input:focus {
  outline: none;
}
